.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

[data-theme='compact'] .site-description-item-profile-wrapper {
  font-size: 12px;
  line-height: 1.66667;
}

.ant-drawer-body p.site-description-item-profile-p {
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}


[data-theme='compact'] .ant-drawer-body p.site-description-item-profile-p {
  font-size: 14px;
  line-height: 1.66667;
}

 

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing {
  width : 75%;
  margin: 3rem auto;
}

.mypage {
  width: 40%;
  margin: 3rem auto
}

.privacy {
  font-size: 17px;
  text-decoration: underline;
}

.in_Privacy {
  width: 75%;
  margin: 3rem auto;
}

.in_BR {
  width: 50%;
  margin: 3rem auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.app_ {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

.register {
  min-width: 375px;
  margin-right: 75px;
}

.reg_button{
  margin-left: 50px;
}

.reset_button{
  margin-right: 20px;
  margin-left: -20px;
}

.pwd_form{
  width: 400px;
}

.pwd_button{
  margin-left: 10px;
}

.logo{
  padding-top: 140px
}

.hospital{
  display:flex;
  width:380px;
  height:400px;
  justify-content:center;
  align-items:center;
  overflow-y : scroll
}

::-webkit-scrollbar {
  width: 10px;  /* 세로축 스크롤바 길이 */
  height: 20px;  /* 가로축 스크롤바 길이 */
  }
  ::-webkit-scrollbar-track {
    background-color: lightblue;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: gainsboro;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: black;
  }

  .postlist{
    width: 75%;
    margin: 3rem auto
  }

  .mustread{
    width: 55%;
    margin: 3rem auto
  }

  .mobile_board{
    display: none
  }
  .spacing{
    height: 0px;
  }

  .RemoveUserForm{
    width: 320px;
  }
  .RemoveUserButton{
    margin-left: 7px;
  }

  .com_spacing{
    height: 20px;
  }
  
  .mobile_board_up{
    display: none;
  }

@media (max-width: 767px) {
  
  .mobile_board_up{
    display: flex;
    justify-content: center;
  }
  .com_spacing{
    height: 0px;
  }

  .RemoveUserButton{
    margin-left: 115px;
  }
  .spacing{
    height: 10px;
  }

  .web_board{
    display: none;
  }

  .mobile_board{
    display: block
  }

  .mustread{
    width: 90%;
    margin: 3rem auto
  }

  .demo-loadmore-list {
    min-height: 350px;
  }

  .postlist{
    width: 100%;
    margin: 3rem auto
  }

  .landing {
    width : 100%;
    margin: 0px auto;
  }

  .mypage {
    width: 90%;
    margin: 3rem auto
  }

  .in_mypage {
    display: none;
  }

  .up_down {
    display: flex;
    justify-content: center;
  }

  .in_Privacy {
    width: 90%;
    margin: 3rem auto;
  }
  
  .in_BR {
    width: 90%;
    margin: 3rem auto;
  }


  .app_ {
    height: 70%;
    margin-left: 75px;
  }

  .reg_title {
    margin-right: 75px; 
  }

  .register {
    min-width: 250px;
    margin-top: 10;
    display: flex;
    justify-content: center;
    width: 50%;
  
}

  .reg_button{
    margin-left: 80px;
  }

  .reset_button{
    margin-right: 0px;
    margin-left: 60px;
  }
  .pwd_form{
    width: 300px;
  }
  .pwd_button{
    margin-left: 95px;
  }
  .row{
    margin-top: 50px;
    width: 100%;
  }

  .center{
    display: flex;
    justify-content: center;
  }

  .hospital{
    display:flex;
    width:300px;
    height:300px;
    justify-content:center;
    align-items:center;
    overflow-y : scroll
  }
 
  .space{
    height:50px;
 }

 ::-webkit-scrollbar {
  width: 10px;  /* 세로축 스크롤바 길이 */
  height: 20px;  /* 가로축 스크롤바 길이 */
  }
  ::-webkit-scrollbar-track {
    background-color: lightblue;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: gainsboro;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: black;
  }
}